<div class="panier d-flex flex-column align-items-center">
    <div class="cardContainer" *ngFor="let comic of cart; let i = index">
        <div>
            <img class="photo" src="{{comic.photo}}">
        </div>
        <div class="description"> 
            <h3>{{comic.titre}}</h3>
            <h5>{{comic.scenariste}}</h5>
        </div>
        <div class="d-flex flex-row flex-nowrap justify-content-between">
            <button class="btn btn-danger btn-quantity" (click)="quantityMinus(comic)">-</button>
            <h2 class="quantity">{{comic.quantite}}</h2>
            <button class="btn btn-danger btn-quantity" (click)="quantityPlus(comic)">+</button>
        </div>
        <div>
            <h2>{{comic.prix}} € TTC</h2>
        </div>
    </div>
    <div class="total d-flex">
        <p class="total-prix">Total: {{total}} € TTC</p>
        <p class="total-item">Nombre d'article: {{nbrItem}}</p>
    </div>
</div>
<button class="btn btn-primary" routerLink="/validation-achat">Validation achat</button>