<div class="grid-container">
    <div class="divHeader">
      <div class="divTitreHeader">
        <img class="titreHeader" src="../assets/img/text-logo.png">
        <img class="logoHeader" src="../assets/img/LogoWhite.png">
      </div>
      <div class="divMenuBurger">
        <app-menu></app-menu>
      </div>
      <div class="divPanierHeader">
        <img class="panierHeader"src="../assets/img/iconeTemporaire.png">
      </div>
    </div>
    <div class="divSearchHeader">
        <input class="searchHeader" type="search">
    </div>
</div>
