<h1>{{config.valeur}}</h1>
<p-carousel [value]="comics" [numVisible]="4" [numScroll]="1" [circular]="true" [contentClass]="'card'" [responsiveOptions]="responsiveOptions">
    <ng-template let-comic pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="blocPhoto">
                    <img class="photo" src="{{comic.photo}}">
                </div>
               
                <div class="grid-container">
                    <div class="div-titre">
                        <h3>{{comic.titre}}</h3>
                    </div>
                    <div class="div-disponibilite etat">
                        <p class="card-text disponible" *ngIf="comic.disponibilite == 1">Disponible</p>
                        <p class="card-text indisponible" *ngIf="comic.disponibilite == 2">Indisponible</p>
                        <p class="card-text precommande" *ngIf="comic.disponibilite == 3">Précommande</p>
                    </div>
                    <div class="div-prix">
                        <h4 class="prix">{{comic.prix}} €</h4>    
                    </div>
                    <div class="div-note">
                        <p class="card-text note" *ngIf="comic.avis === 5">★★★★★</p>
                        <p class="card-text note" *ngIf="comic.avis === 4">★★★★</p>
                        <p class="card-text note" *ngIf="comic.avis === 3">★★★</p>
                        <p class="card-text note" *ngIf="comic.avis === 2">★★</p>
                        <p class="card-text note" *ngIf="comic.avis === 1">★</p>
                    </div>
                    <div class="div-panier">
                        <a><img class="logo" src="../assets/img/panier.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

