<p-carousel [value]="comics" [numVisible]="4" [numScroll]="1" [circular]="false" [style]="'card'" [contentClass]="'card'">

        
        
        <ng-template let-comics pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="blocPhoto">
                    <img class="photo" src="{{comics.photo}}">
                </div>
                
                <div>
                    
                    <div class="etat">
                        <p class="card-text disponible" *ngIf="comics.disponibilite === 1">Disponible</p>
                        <p class="card-text indisponible" *ngIf="comics.disponibilite === 2">Indisponible</p>
                        <p class="card-text precommande" *ngIf="comics.disponibilite === 3">Précommande</p>
                    </div>
                    <h6 class="p-mt-0 p-mb-3">{{comics.prix}}</h6>
                
                    <p class="card-text note" *ngIf="comics.avis === 5">★★★★★</p>
                    <p class="card-text note" *ngIf="comics.avis === 4">★★★★</p>
                    <p class="card-text note" *ngIf="comics.avis === 3">★★★</p>
                    <p class="card-text note" *ngIf="comics.avis === 2">★★</p>
                    <p class="card-text note" *ngIf="comics.avis === 1">★</p>
                    <span [class]="'product-badge status-'"></span>
                    <!-- <div class="car-buttons p-mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                        <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                    </div> -->
                </div>
            </div>
        </div>
        </ng-template>
</p-carousel>
